div {
    float: left;
}

button {
    color: black;
    background-color: white;
    font-size: 15px;
    padding: 5px;
}

#Buttons {
    margin-top: 80px;
    text-align: right;
    margin-left: 400px;
}

#gbtn {
    visibility: hidden;
}

#sbtn {
    visibility: hidden;
}

#animal {
    visibility: hidden;
}

#profession {
    visibility: hidden;
}

#media {
    visibility: hidden;
}

#mythical {
    visibility: hidden;
}

/* #haircolor {
    visibility: hidden;
} */

#generate {
    visibility: hidden;
}
